*
  margin 0
  padding 0

html
    font-size 28px
body
    font-family -apple-system,Arial,snas-serif
    background:write
    padding 2rem

.app
    max-width 600px
    margin 0 auto
    background
    padding 2rem
    border-radius 0.5rem
    box-shadow 0 2px 6px rgba(0,0,0,0.1)

.header
   text-align center